############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################

.env
license.txt
exports
*.cache
dist
build
.strapi-updater.json

############################
# Next.js
############################

.env.local
.env.*
frontend/.next
frontend/.next/*
frontend/.next/**
frontend/.next/*/**


design
design/*

wordpress
wordpress/*

!wordpress/wp-content/themes/hello-elementor
!wordpress/wp-content/themes/hello-elementor/*
!wordpress/wp-content/themes/hello-elementor/assets/
!wordpress/wp-content/themes/hello-elementor/assets/*
!wordpress/wp-content/themes/hello-elementor/assets/**
!wordpress/wp-content/themes/hello-elementor/assets/**/*
!wordpress/wp-content/themes/hello-elementor/assets/**/**/*
!wordpress/wp-content/themes/hello-elementor/assets/**/**/**/*
!wordpress/wp-content/themes/hello-elementor/assets/includes/
!wordpress/wp-content/themes/hello-elementor/assets/includes/*
!wordpress/wp-content/themes/hello-elementor/assets/includes/**
!wordpress/wp-content/themes/hello-elementor/assets/includes/**/*
!wordpress/wp-content/themes/hello-elementor/assets/includes/**/**/*
!wordpress/wp-content/themes/hello-elementor/assets/includes/**/**/**/*
!wordpress/wp-content/themes/hello-elementor/assets/template-parts/
!wordpress/wp-content/themes/hello-elementor/assets/template-parts/*
!wordpress/wp-content/themes/hello-elementor/assets/template-parts/**
!wordpress/wp-content/themes/hello-elementor/assets/template-parts/**/*
!wordpress/wp-content/themes/hello-elementor/assets/template-parts/**/**/*
